body{
    background-color: rgb(65, 201, 239);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 95%;
}
.titulo{
    display: flex;
    justify-content: center;
    background-color: black;
}
h1{
    color: yellow;
}
.pagina{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 95%;
}
.div1{
    overflow: scroll;
    justify-content: center;
    width: 50%;
    max-height: initial;
    border: solid 2px #000;
}
table{
    width: 100%;
    justify-content: center;
    border: solid 2px yellow;
    background-color: rgb(65, 201, 239);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
    background-color: rgb(65, 201, 239);
}
.datos{
    height: 50%;
    align-items: center;
}
.imagen{
    height: 50%;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 25%;
    border: solid 2px yellow;


}

tr,th,td{
    border: solid 2px yellow;
}

img.section{
    width: 50%;
    height: 50%;
    border-radius: 25%;
    border: solid 2px #000;

}